@{
    ViewData["Title"] = "Home Page";
}

    <img class="d-block w-100" src="~/images/Home.jpg" alt="Contoso University">
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Contoso University</h2>
            <p>
                This is the best university in the world.
                You will be very welcome here.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Here is your future!</h2>
            <p>We offer several courses in different areas, with the aim of training men and women for the future.</p>
            <p><a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">See our Courses &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>We have the best teachers!</h2>
            <p>Our faculty is chosen according to very strict academic criteria. We are sure that their knowledge will change your future!.</p>
            <p><a class="nav-link text-dark" asp-area="" asp-controller="Instructors" asp-action="Index">See our Teachers &raquo;</a></p>
        </div>
    </div>
